@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="about-section py-5">
    <div class="container">
        
        <center>
            <h1 class="title mb-4">Thank you for your subscription</h1>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="/home" role="button">Continue to homepage</a>
            </p>
        </center>

        <br />
        <figure><img class="img-fluid" src="~/assets/images/thanks.jpg" alt="image"></figure>
        <br />
    </div>
</article><!--//about-section-->
