@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BlogApplication.Models.EmailModel
<section class="cta-section theme-bg-light py-5">
		    <div class="container text-center single-col-max-width">
			    <h2 class="heading">Ramin Guliyev - Blog </h2>
			    <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
			    <div class="single-form-max-width pt-3 mx-auto">
				    <form asp-controller="Home" asp-action="EmailPost" class="signup-form row g-2 g-lg-2 align-items-center">
	                    <div class="col-12 col-md-9">
	                        <label class="sr-only" asp-for="EmailAddress">Your email</label>
	                        <input type="email"  asp-for="EmailAddress" class="form-control me-md-1 semail" placeholder="Enter email">
	                    </div>
	                    <div class="col-12 col-md-2">
	                        <button type="submit" class="btn btn-primary">Subscribe</button>
	                    </div>
	                </form><!--//signup-form-->
			    </div><!--//single-form-max-width-->
		    </div><!--//container-->
	    </section>
	    
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container single-col-max-width">

			    @await Component.InvokeAsync("Post",new {id=3})

			    <nav class="blog-nav nav nav-justified my-5">
				  <a class="nav-link-next nav-item nav-link rounded-right " href="/post">See All Blogs<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				</nav>
				
		    </div>
	    </section>