<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Ramin Guliyev - DevBlog</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="~/favicon.ico"> 
    
    <!-- FontAwesome JS-->
	<script defer src="~/assets/fontawesome/js/all.min.js"></script>
    @RenderSection("CssSection",false)
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="~/assets/css/theme-6.css">

</head> 

<body>
   <partial name="Navbar"/>
    <div class="main-wrapper">
        @RenderBody()
	    <partial name="Footer"/>
    </div><!--//main-wrapper-->   
    
    <!-- Javascript -->          
 
	<script src="~/assets/plugins/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    @RenderSection("JsSection",false)

</body>
</html> 

